<ion-content [fullscreen]="true">
  <ion-img
    id="home-banner"
    src="assets/images/Banner Cantillana.avif"
  />

  <!-- Contenedor de Bienvenida Centrado -->
  <div class="ion-text-center ion-padding-horizontal" style="margin-top: 24px;">
    <h1 style="margin-bottom: 24px !important;">
      ¡Hola, {{ usuario().datosUsuario.nombre }}!
    </h1>

    <!-- Texto de bienvenida -->
    <p style="color: var(--ion-color-step-600); max-width: 600px; margin: 0 auto 24px auto; font-size: 1.1rem; line-height: 1.4;">
      Bienvenido a tu panel de control. Desde aquí puedes "gestionar, supervisar y dar seguimiento" a todas tus incidencias en tiempo real para asegurar nuestra eficiencia y compromiso con la comunidad.
    </p>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="7">

        <!-- lista de incidencias -->
        <incidencia-list-card></incidencia-list-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
