<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="10" size-lg="6" size-xl="6">
        @if (incidencia(); as datos) {
          <ion-card mode="md">
            <ion-card-header>
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: start;
                "
              >
                <div>
                  <ion-card-title style="font-weight: bold; font-size: 1.4rem">
                    {{ datos.titulo }}
                  </ion-card-title>
                  <ion-card-subtitle>
                    ID: #{{ datos.idIncidencia }}
                  </ion-card-subtitle>
                </div>
                <ion-badge color="primary">
                  {{ datos.estadoIncidencia }}
                </ion-badge>
              </div>
            </ion-card-header>

            <ion-card-content>
              <div class="ion-margin-bottom">
                @for (categoria of datos.categorias; track categoria) {
                  <ion-chip color="primary" mode="ios">
                    <ion-label>{{ categoria }}</ion-label>
                  </ion-chip>
                }
              </div>

              <ion-list lines="none">
                <ion-item class="ion-no-padding">
                  <ion-avatar style="margin-right: 2%">
                    <img
                      alt="Silueta de la cabeza de una persona"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg"
                    />
                  </ion-avatar>
                  <ion-label>
                    <h3>Reportado por</h3>
                    <p>
                      {{ datos.usuarioCiudadano.nombre }}
                      {{ datos.usuarioCiudadano.apellidos }}
                    </p>
                  </ion-label>
                </ion-item>

                <ion-item class="ion-no-padding">
                  <ion-icon
                    name="calendar"
                    slot="start"
                    color="medium"
                  ></ion-icon>
                  <ion-label>
                    <h3>Fecha de creación</h3>
                    <p>
                      {{ $any(datos.fechaCreacion) | date: "dd/MM/yyyy HH:mm" }}
                    </p>
                  </ion-label>
                </ion-item>

                <ion-item class="ion-no-padding">
                  <ion-icon
                    name="alert-circle"
                    slot="start"
                    color="medium"
                  ></ion-icon>
                  <ion-label>
                    <h3>Prioridad asignada</h3>
                    <ion-text
                      color="danger"
                      style="font-weight: bold; font-size: 0.9rem"
                    >
                      {{ datos.prioridad }}
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-list>

              <hr style="opacity: 0.2; margin: 15px 0" />

              @if (datos.imagenesUrl && datos.imagenesUrl.length > 0) {
                <swiper-container
                  style="width: 40%; margin: 0%"
                  slides-per-view="1"
                  space-between="10"
                  navigation="true"
                  pagination="true"
                  >
                  @for (foto of datos.imagenesUrl; track foto) {
                    <swiper-slide>
                      <div class="tarjeta-imagen">
                        <img
                          [src]="foto"
                          alt="Evidencia del problema"
                          class="imagenIncidencia"
                        />
                      </div>
                    </swiper-slide>
                  }
                </swiper-container>
              }

              <div class="ion-margin-bottom" style="margin-top: 4%">
                <ion-text color="dark">
                  <h2 style="font-weight: bold; margin-bottom: 8px !important">
                    Descripción del problema
                  </h2>
                </ion-text>
                <p style="text-align: left">
                  {{
                    datos.descripcion ||
                      "Sin descripción registrada en la base de datos"
                  }}
                </p>
              </div>
            </ion-card-content>
          </ion-card>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
