<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="12" size-md="10" size-lg="8" size-xl="8">
        <ion-card mode="md">
          <ion-card-header>
            <ion-card-title>Gestion de incidencias</ion-card-title>
            <ion-card-subtitle
              >Gestiona las incidencias de Cantillana</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            <incidencia-lista-gestion/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
