<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="collapsed-header-menu-bar">
      <ion-title>
        <div class="ion-display-flex align-content-between">
          <img
            class="logo"
            [src]="env.logoUrl"
            alt="Imagen logo"
          />
          <img
            src="../../../../assets/images/escudoCantillana.png"
            alt="Escudo de Cantillana"
            style="height: 80px"
          />
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="header-menu-bar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet />
  </ion-content>
</div>
