ion-title, ion-menu-button{
  color: white;
}

ion-menu::part(backdrop) {
  background-color: #091323;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
}

.header-menu-bar{
  --background: #091323;
}

.collapsed-header-menu-bar{
  --background: #2a3a53;
}

.logo{
  width: 130px;
}
