<form [formGroup]="incidenciaForm" (ngSubmit)="onSubmit()">
  <ion-list lines="none">

    <ion-item class="ion-margin-bottom">
      <ion-input
        color="secondary"
        type="text"
        placeholder="Ej: Se ha roto una farola"
        fill="solid"
        labelPlacement="floating"
        helperText="Escribe el motivo de tu incidencia"
        mode="ios"
        formControlName="titulo"
        [errorText]="obtenerMensajeError('titulo')"
      >
        <div slot="label">Título</div>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-textarea
        [counter]="true"
        maxlength="600"
        placeholder="Cuéntanos con detalle..."
        color="secondary"
        [autoGrow]="true"
        fill="solid"
        labelPlacement="floating"
        helperText="Detalla lo que sucede"
        mode="ios"
        formControlName="descripcion"
        [errorText]="obtenerMensajeError('descripcion')"
      >
        <div slot="label">Descripción</div>
      </ion-textarea>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-select
        label="Categoría"
        labelPlacement="floating"
        toggleIcon="caret-down-sharp"
        interface="popover"
        fill="solid"
        mode="ios"
        formControlName="categoria"
        multiple="true"
        [errorText]="obtenerMensajeError('categoria')"
      >
        <ion-select-option value="alumbrado">Alumbrado Público</ion-select-option>
        <ion-select-option value="limpieza">Limpieza y Residuos</ion-select-option>
        <ion-select-option value="pavimento">Pavimento y Aceras</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="map-item">
      <div class="map-wrapper">
        <ion-label class="label-custom">Ubicación exacta</ion-label>
        <div id="map" style="margin-bottom: 5%;"></div>
        <ion-note color="medium">
          Mueve el marcador para señalar el lugar exacto.
        </ion-note>
      </div>
    </ion-item>

    <hr style="border-bottom: solid 1px rgb(198, 196, 196); margin: 6% 2%;"/>

    <ion-card style="box-shadow: 0 10px 25px rgba(0,0,0,0.1); border: solid 1px rgb(113, 110, 110, 0.4);">
      <ion-card-header>
        <ion-card-title>Evidencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <image-picker (fotosEnviar)="recibirFotos($event)"></image-picker>
        <p class="instrucciones">
          Las capturas nos ayudan a identificar el problema de forma efectiva.
          Por favor, intenta que sean claras y con buena luz. 🙂
        </p>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-button expand="block" type="submit" class="ion-margin" color="primary" [disabled]="incidenciaForm.invalid">
    Enviar Incidencia
  </ion-button>
</form>
