ion-item {
  margin-bottom: 1%;
}

#map {
  height: 350px;
  width: 100%;
  border-radius: 20px; // Bordes muy redondeados
  box-shadow: 0 10px 25px rgba(0,0,0,0.1); // Sombra suave para dar profundidad
  border: 1px solid rgba(0,0,0,0.05);
  margin-top: 10px;
}
