ion-card {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2) !important;
  border-radius: 20px !important;
  margin: 5% 0px;
}

ion-card-header {
  --background: var(--color-app-bar);
}

.titulo-form {
  color: white;
  margin-left: 15%;
  width: 100%;
}

h1{
  font-size: clamp(1.2rem, 1.5vw, 7rem) !important;
}

h2 {
  font-size: clamp(0.8rem, 1vw, 4rem) !important;
  color: black;
}


login-form {
  width: 100%;
}

.contenidoFormulario{
  padding: 3% !important;
}


ion-card-content {
  padding: 0px 0px 4% 0px !important;
}


img {
  width: 7vw;
  height: auto;
  min-width: 90px;
}
