<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-display-flex flex-row ion-justify-content-between">
      <div class="ion-display-flex ion-align-items-center">
        <img class="logo" [src]="environment.logoUrl" alt="Logo" />
        <ion-label>
          @if (router.url.includes("register")) {
            <h1 class="titulo-form">Registrarse</h1>
          } @else if (router.url.includes("login")) {
            <h1 class="titulo-form">Iniciar sesión</h1>
          } @else if (router.url.includes("verification-pending")) {
            <h1 class="titulo-form">Verificación</h1>
          }
        </ion-label>
      </div>
      <img src="../../../../assets/images/escudoCantillana.png" alt="Escudo de Cantillana" style="height: 80px;">
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid class="contenidoFormulario">
      <ion-row>
        <ion-col
          class="ion-display-flex ion-flex-column ion-align-items-center"
          style="margin-top: 6%"
        >
          @if (router.url.includes("register")) {
            <h2 style="margin-top: 2% !important">Registrate para continuar</h2>
          } @else if (router.url.includes("login")) {
            <h2 style="margin-top: 2% !important">
              Inicia sesión para continuar
            </h2>
          } @else if (router.url.includes("verification-pending")) {
            <h2 style="margin-top: 2% !important">Confirma tu identidad</h2>
          }
          <router-outlet />
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 6%">
        <ion-col class="ion-text-center">
          @if (router.url.includes("login")) {
            <a routerLink="/auth/register"
              >¿No tienes cuenta?. Registrate aquí</a
            >
          } @else if (router.url.includes("register")) {
            <a routerLink="/auth/login"
              >¿Ya tienes cuenta?. Inicia sesión aqui</a
            >
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
