<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-display-flex ion-align-items-center">
      <img
        class="logo"
        [src]="environment.logoUrl"
        alt="Logo"
      />
      <ion-label>
        <h1>Log in</h1>
      </ion-label>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col
          class="ion-display-flex ion-flex-column ion-align-items-center"
          style="margin-top: 20px"
        >
          <h2>Inicia sesión para continuar</h2>
          <login-form> </login-form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
