ion-avatar {
  width: auto;
  height: auto;
}

ion-button {
  width: 32px;
  height: 32px;
}

img {
  /* La imagen SIEMPRE debe llenar el avatar al 100% */
  width: 100% !important;
  height: 100% !important;
  object-fit: cover; /* Para que no se deforme la cara */
}
