ion-avatar {
  width: 2vw;
  height: 2vw;
  display: block;
  margin: 0 auto;
}

ion-button {
  width: 100% !important;
  height: 100% !important;
  display: block;
  margin: 0 auto;
}

img {
  /* La imagen SIEMPRE debe llenar el avatar al 100% */
  width: 100% !important;
  height: 100% !important;
  display: block;
  margin: 0 auto;
}


