ion-avatar {
  width: 2vw;
  height: 2vw;
  display: block;
  margin: 0 auto;
  min-width: 32px;
  min-height: 32px;
}

ion-button {
  width: 100% !important;
  height: 100% !important;
  display: block;
  margin: 0 auto;
  padding: 0px !important;
}

img {
  /* La imagen SIEMPRE debe llenar el avatar al 100% */
  width: 100% !important;
  height: 100% !important;
  display: block;
  margin: 0 auto;
}


