ion-card {
  --background: #ffffff;
  border-radius: 24px;
  padding: 2%;
  border: none;
  margin: 0;
}

ion-content::part(background) {
  background-image: url("../../../../assets/images/Background-Web.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; // <--- AQUÍ está la clave del minimalismo. Que casi ni se vea.
}
