@if (this.seccionSms()) {
  <div>
    <h5>Se va a enviar un SMS al numero {{ telefono }}</h5>

    <ion-button
      expand="block"
      (click)="solicitarSms()"
      class="ion-margin-top"
      fill="outline"
    >
      Enviar SMS de verificación
    </ion-button>

    <div id="recaptcha-container"></div>
  </div>
} @else if (this.seccionValidar()) {
  <div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Inserta el codigo recibido</ion-label>
        <ion-input type="text" [(ngModel)]="codigoSms" placeholder="000000">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      fill="outline"
      (click)="verificarCodigo()"
      [disabled]="!codigoSms"
    >
      Confirmar Código
    </ion-button>
  </div>
}
