<ion-list lines="none">
  @if (this.seccionSms()) {
    <h5>Se va a enviar un SMS al numero + {{telefono}}</h5>

    <ion-button
      expand="block"
      (click)="solicitarSms()"
      class="ion-margin-top"
      fill="outline"
    >
      Enviar SMS de verificación
    </ion-button>

    <div id="boton-enviar">

    </div>
  } @else if (this.seccionValidar()) {
    <ion-item>
      <ion-label position="stacked">Código recibido</ion-label>
      <ion-input type="number" [(ngModel)]="codigoSms" placeholder="123456">
      </ion-input>
    </ion-item>

    <ion-button
      expand="block"
      fill="outline"
      (click)="verificarCodigo()"
      [disabled]="!codigoSms"
    >
      Confirmar Código
    </ion-button>
  }
  <hr />
</ion-list>
