<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="logo" [src]="environment.logoUrl" alt="Logo"/>
    </ion-buttons>
    <ion-buttons slot="">
      <ion-button>
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-button>
      <ion-button>
        <ion-icon name="create"></ion-icon>
        <ion-label>Reportar nueva incidencia</ion-label>
      </ion-button>
      <ion-button>
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Mis incidencias</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="area-button-avatar">
      <avatar-button/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
