img {
  width: 140px;
  height: 60px;
  border-right: white 1px solid;
  padding-right: 20px;
  margin-right: 40px;
}

ion-toolbar {
  padding: 0px 50px;
  height: 120%;
  --background: #091323;
}

ion-button{
  height: 40px;
  min-width: 100px;
  --background: #2a3a53;
  color: white;
}
