.logo {
  border-right: white 1px solid;
  padding-right: 5%;
  margin-right: 3vw;
}

ion-toolbar {
  padding: 0px 3%;
  height: auto;
  --background: var( --color-app-bar);
}

ion-button{
  color: white;
  margin-right: 2%;
  width: auto;
}

ion-label{
  font-size: clamp(0.5rem, 0.6vw, 4rem);
  padding-left: 4%;
  width: auto;
  white-space: nowrap
}

ion-icon {
  font-size: clamp(0.9rem, 1vw, 5.2rem);
}

ion-icon[name="create"] {
  transform: scale(1.7);
}



