ion-input {
  --highlight-color-valid: var(--color-app-bar) !important;
}

ion-list {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 7% 0% 2%;
}

//Aplica en caso de que no tenga la clase continuar-button dentro
ion-item:not(:has(.continuar-boton)) {
  margin: 4% 0px;
}

ion-checkbox {
  --checkbox-background-checked: var(--color-app-bar) !important;
  --border-color-checked: var(--color-app-bar) !important;
}

ion-button {
  --background: var(--color-app-bar);
  --background-activated: #081226; /* Un tono un pelín más oscuro al pulsar */
}

.o-divisor {
  width: 12vw;
  border-bottom: 1px solid rgb(148, 147, 147);
  margin: 0px 2%;
}

ion-item .continuar-boton {
  width: 100%;
  height: 2vw;
  margin-bottom: 2%;
}

.bloque-continuar-o ion-item:first-child {
  margin-top: 1vw;
}

ion-datetime {
  --background: transparent;
  max-width: 100%;
  min-width: auto;
  width: 80%;
  margin: 0 auto;
  border: solid 1px rgb(190, 187, 187);
}

form {
  width: 35vw;
}
