<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <ion-list lines="none">
    <ion-item>
      <ion-input
        color="secondary"
        type="text"
        placeholder="Tu nombre"
        fill="solid"
        labelPlacement="floating"
        helperText="Introduce tu nombre"
        [errorText]="obtenerMensajeError('nombre')"
        mode="ios"
        formControlName="nombre"
        maxlength="30"
      >
        <div slot="label">Nombre</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="text"
        placeholder="Tus apellidos"
        fill="solid"
        labelPlacement="floating"
        helperText="Introduce tus apellidos"
        [errorText]="obtenerMensajeError('apellidos')"
        mode="ios"
        formControlName="apellidos"
        maxlength="30"
      >
        <div slot="label">Apellidos</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="text"
        placeholder="12345678X"
        fill="solid"
        labelPlacement="floating"
        helperText="Introduce tu documento de identidad"
        [errorText]="obtenerMensajeError('dni')"
        mode="ios"
        formControlName="dni"
        maxlength="9"
      >
        <div slot="label">DNI</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="tel"
        placeholder="600000000"
        fill="solid"
        labelPlacement="floating"
        helperText="Tu número de teléfono"
        [errorText]="obtenerMensajeError('telefonoContacto')"
        mode="ios"
        formControlName="telefonoContacto"
        maxlength="9"
      >
        <div slot="label">Teléfono de Contacto</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="text"
        placeholder="Calle, Número, Piso..."
        fill="solid"
        labelPlacement="floating"
        helperText="Tu dirección de residencia"
        [errorText]="obtenerMensajeError('direccion')"
        mode="ios"
        maxlength="100"
        formControlName="direccion"
      >
        <div slot="label">Dirección</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="email"
        placeholder="ejemplo@correo.com"
        fill="solid"
        labelPlacement="floating"
        helperText="El email que usarás para acceder"
        [errorText]="obtenerMensajeError('correoElectronico')"
        mode="ios"
        formControlName="correoElectronico"
        maxlength="70"
      >
        <div slot="label">Email</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="password"
        fill="solid"
        labelPlacement="floating"
        helperText="Mínimo 8 caracteres, letras y números"
        [errorText]="obtenerMensajeError('clave')"
        mode="ios"
        formControlName="clave"
        maxlength="50"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        <div slot="label">Contraseña</div>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="password"
        fill="solid"
        labelPlacement="floating"
        helperText="Repite la contraseña"
        [errorText]="obtenerMensajeError('confirmarClave')"
        mode="ios"
        formControlName="confirmarClave"
        maxlength="50"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        <div slot="label">Confirmar Contraseña</div>
      </ion-input>
    </ion-item>

    <ion-item button="false" class="fechaNacimiento-block">
      <ion-label position="stacked" style="margin-bottom: 5%; font-size: 1.3rem">Fecha de Nacimiento</ion-label>
      <ion-datetime-button datetime="date"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="date"
            presentation="date"
            [value]="fechaNacimientoMaxima.toDate().toISOString()"
            [formatOptions]="{
              date: {
                weekday: 'short',
                month: 'long',
                day: '2-digit',
                year: 'numeric'
              }
            }"
            formControlName="fechaNacimiento"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-checkbox
        justify="start"
        labelPlacement="end"
        formControlName="recibirNotificaciones"
      >
        Deseo recibir notificaciones
      </ion-checkbox>
    </ion-item>

    <div class="ion-display-flex ion-flex-column ion-align-items-center">
      <ion-button
        expand="block"
        type="submit"
        style="width: 80%; margin-bottom: 5%"
      >
        Crear cuenta
      </ion-button>

      <div class="ion-display-flex ion-align-items-center">
        <div class="o-divisor"></div>
        <ion-label color="medium"> O </ion-label>
        <div class="o-divisor"></div>
      </div>
    </div>

    <div class="bloque-continuar-o">
      <ion-item>
        <ion-button fill="solid" color="success" class="continuar-boton">
          <ion-icon slot="start" name="logo-apple"></ion-icon>
          <ion-label>Registrarse con Apple</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill="solid" color="warning" class="continuar-boton">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <ion-label>Registrarse con Google</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill="solid" color="primary" class="continuar-boton">
          <ion-icon slot="start" name="logo-android"></ion-icon>
          <ion-label>Registrarse con Android</ion-label>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</form>
