<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ion-list lines="none">
    <ion-item>
      <ion-input
        color="secondary"
        type="email"
        placeholder="ejemplo@correo.com"
        fill="solid"
        labelPlacement="floating"
        helperText="Introduce un email"
        [errorText]="obtenerMensajeError('correoElectronico')"
        mode="ios"
        formControlName="correoElectronico"
        ><div slot="label">Email</div></ion-input
      >
    </ion-item>

    <ion-item>
      <ion-input
        color="secondary"
        type="password"
        fill="solid"
        labelPlacement="floating"
        helperText="Introduce una contraseña"
        [errorText]="obtenerMensajeError('clave')"
        mode="ios"
        formControlName="clave"
        ><div slot="label">Contraseña</div><ion-input-password-toggle slot="end"/></ion-input
      >

    </ion-item>

    <div class="ion-display-flex ion-flex-column ion-align-items-center">
      <ion-button
        expand="block"
        type="submit"
        style="width: 80%; margin-bottom: 5%"
        >Iniciar sesión</ion-button
      >
      <div class="ion-display-flex ion-align-items-center">
        <div class="o-divisor"></div>

        <ion-label color="medium"> O </ion-label>

        <div class="o-divisor"></div>
      </div>
    </div>

    <div class="bloque-continuar-o ion-display-flex ion-flex-column ion-align-items-center">
      <ion-item>
        <ion-button expand="block" fill="solid" color="warning" class="continuar-boton">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <ion-label>Continuar con Google</ion-label>
        </ion-button>
      </ion-item>

      @if (mostrarReCaptcha()){
        <ion-item style="display: block;">
          <re-captcha (pushValidado)="validarPush()" [telefono]="$any(fullUser).datosUsuario.telefonoContacto"/>
        </ion-item>
      }
    </div>
  </ion-list>
</form>
