<div class="bloque-happy-empty">
  <h1 class="ion-text-center">¡Vaya! Parece que no hay nada por aqui...</h1>

  <p>
    ¿Que te parece si reportas una nueva incidencia? 😄. Es el momento perfecto
    para poder seguir mejorando cantillana
  </p>

  <ion-button fill="solid" (click)="router.navigate(['app/reportar-incidencia'])" expand="block" style="margin-top: 7%;">
    <ion-icon slot="start" name="create"></ion-icon>
    <ion-label style="color: white;">Reportar incidencia</ion-label>
  </ion-button>
</div>
